extends ./layout.jade

block content
	.container
		.row
			form(action="/vote", method="post").poll-block
				.panel.panel-default
					.panel-heading
						h3= poll.question
					ul.list-group
						for option, i in poll.options
							li.list-group-item
								.input-group
									span.input-group-addon
										input(type='radio', id="option#{i}", name="optionId", value="#{i}")    
									label.form-control(for="option#{i}")= option.option
					.panel-footer
						input(type="hidden", id="#{poll.id}",name="pollId", value="#{poll.id}")
						button.btn.btn-primary(type='submit') Vote