extends ./layout.jade

block content
	.container
		.row
			.content
				.row
					.content-header
						h1 Poll results
						if poll.totalVotes === 0
							h4 Sorry no votes for 
								em=poll.question  
								|  yet
						else
							h4 #{poll.totalVotes} votes in #{poll.createdBefore}
						if voted
							p.bg-info You voted for option 
								em #{poll.options[voted].option}
								a.btn.btn-default.btn-xs.pull-right(href="#{poll.tweet} - check results - #{poll.permalink}", target="_blank")
												i.fa.fa-twitter
												|  tweet
						else
							p.bg-info You can vote 
								a.btn.btn-primary.btn-xs(href="#{poll.permalink}") here
					.content-body
						if poll.totalVotes != 0
							.panel.panel-default.poll-results.poll-panel
								.panel-heading
									.poll-question=poll.question
								.panel-body
									.row.result-table-header
										.col-xs-6 Option
										.col-xs-2.text-center Votes
										.col-xs-2.text-center %
									.row
										ul.result-list
											for option, i in poll.options
												li.result-list-item(class = ( i == voted ? "selected" : "" ))
													.option= option.option
													.votes.text-center #{option.votes}
													.pct.text-center #{option.votePct}%
													.graph
														.graph-bar(style='width: #{option.votePct}%;')
