li.poll-list-item
	.poll-question
		a(href="#{poll.permalink}")=poll.question
		a.btn.btn-default.btn-sm.pull-right(href="#{poll.tweet} - vote here - #{poll.permalink}", target="_blank")
			i.fa.fa-twitter
			|  tweet
	ul.poll-details
		li
			if user
				if poll.private === "off"
					span.poll-label.public public
				else
					span.poll-label.private private
					|  key: 
					code #{poll.privateKey}
			span(title="#{poll.created}")=poll.createdBefore
				|	ago
			unless user
				mark by #{poll.owner} 
				span.poll-label.total total votes 
					.badge= poll.totalVotes
		li
			a.btn.btn-primary.btn-xs(href="#{poll.resultlink}") results
			a.btn.btn-primary.btn-xs(href="#{poll.permalink}") permalink
			if user
				a.btn.btn-danger.btn-xs.pull-right(href="/remove-poll/#{poll.id}") delete