extends ./layout.jade

block content
	.container
		.row
			.poll-results
				.results-header
					h1 Poll results
					p #{poll.totalVotes} votes in #{poll.createdBefore}
					if voted
						p You voted for option 
							em #{poll.options[voted].option}
				.panel.panel-default
					.panel-heading
						h3= poll.question
					ul.list-group
						for option, i in poll.options
							li.list-group-item
								.option(class = ( i == voted ? "selected" : "" ))= option.option
									span.votes #{option.votes} votes - #{option.votePct}%
					.panel-footer
						h3 Poll graph
						.graph-group
							for option, i in poll.options
								.row
									.bar(style='width: #{option.votePct}%;')
									.bar-label= option.option
									
