extends ./layout.jade

block content
	.container
		.row
			.user-block
				.row
					.user-header
						h1 Hello 
							span=layout.username
						if !polls
							p It seams you dont have any polls created.
						else
							p Check results of your polls or
						a.btn.btn-primary(type='button' href="/new-poll/") Create new poll
				if polls
					.row
						.poll-list
							ul.list-group
								for poll in polls
									li.list-group-item
										p.question
											a(href="/poll/#{poll.id}")=poll.question
											a.btn.btn-default.btn-sm.pull-right(href="#{poll.tweet}", target="_blank")
												i.fa.fa-twitter
												|  tweet
										ul.button-group
											if poll.private === "off"
												li
													span.label.label-info public
											else
												li
													span.label.label-warning private 
													span.info key: 
													span.label.label-warning #{poll.privateKey}
											li
												span.info(title="#{poll.created}")= poll.createdBefore  
													|   ago
											li 
												span.info total votes
												span.badge= poll.totalVotes
											li
												a.btn.btn-primary.btn-xs(href="/poll-results/#{poll.id}") results
											li
												a.btn.btn-primary.btn-xs(href="/poll/#{poll.id}") permalink
											li.pull-right
												a.btn.btn-danger.btn-xs(href="/remove-poll/#{poll.id}") delete